<%= link_to 'Home', posts_path %>

<%= notice %>

<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<p><%= @post.author %></p>

<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", @post, method: :delete %>

<hr>

<h2>Comments Section</h2>

<!-- Rails knows this is a collection of individual items -->
<!-- They will be rendered separately -->
<%= render partial: 'comments/comment', collection: @post.comments, as: :comment %>

<hr>

<h2>Add Comment</h2>

<%= render partial: 'comments/form', locals: { comment: @post.comments.new } %>
